@page
@model PrivacyModel
@{
    ViewData["Title"] = "About the Website";
}
<h1>@ViewData["Title"]</h1>

<p>This website is created for people who have common interests in craft making. We bring you the best ideas from across the world. Stay tuned for more such fun activities!</p>
<p>Creator of the website: <a href="https://dhritisaha.netlify.app">Dhriti Saha</a></p>
